
<ion-content padding class="form-top-margin">
    <div class="profile-pic-outer">
        <img src="../../../assets/imgs/alibaba-logo.png" class="profile-pic">
    </div>
<form [formGroup] ="userData" (ngSubmit)="logIn()" class="form-top-margin">
    <ion-item [ngClass]="{'error-border':!userData.controls.email.valid && userData.controls.email.touched}">
          <ion-label>Email</ion-label>
          <ion-input type="text"  formControlName="email"></ion-input>
        </ion-item>
        <ion-item *ngIf="userData.controls.email.hasError('required') && userData.controls.email.touched" class="warning">
            <p class="warning-text">Sorry, field email is required!</p>
        </ion-item>
        <ion-item *ngIf="userData.controls.email.hasError('email') && !userData.controls.email.hasError('required') && userData.controls.email.touched" class="warning">
            <p class="warning-text">Not an email</p>
        </ion-item>
        <ion-item [ngClass]="{'error-border':!userData.controls.password.valid && userData.controls.password.touched}">
          <ion-label>Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item *ngIf="userData.controls.password.hasError('required') && userData.controls.password.touched" class="warning">
            <p class="warning-text">Sorry, field password is required!</p>
        </ion-item>
        <ion-item *ngIf="userData.controls.password.hasError('minlength') && userData.controls.password.touched" class="warning">
            <p class="warning-text">Sorry, minimum password length is 6!</p>
        </ion-item>
        <button ion-button type="submit" block color="blue" class="margin-top-10" [disabled]= "!userData.valid">Login</button>
        <ion-item *ngIf="loginFail" class="warning">
            <p class="warning-text">Email or password is wrong</p>
        </ion-item>
      </form>
      <button ion-button block (click)="signUp()" class="margin-top-10" class="sign-up-button">Sign Up</button>
    </ion-content>