
<ion-header>
    <ion-navbar>
      <ion-title>
        SingUp
      </ion-title>
    </ion-navbar>
  </ion-header>
<ion-content padding class="form-top-margin">
    <form [formGroup] ="userData" (ngSubmit)="signUp()" class="form-top-margin">
        <ion-item>
            <ion-label>First Name</ion-label>
            <ion-input type="text" formControlName="first_name"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label>Last Name</ion-label>
              <ion-input type="text" formControlName="last_name"></ion-input>
            </ion-item>
        <ion-item>
              <ion-label>E-mail</ion-label>
              <ion-input type="text" formControlName="email"></ion-input>
            </ion-item>
            <ion-item *ngIf="userData.controls.email.hasError('required') && userData.controls.email.touched" class="warning">
                <p class="warning-text">Sorry, field email is required!</p>
            </ion-item>
            <ion-item *ngIf="userData.controls.email.hasError('email') && !userData.controls.email.hasError('required') && userData.controls.email.touched" class="warning">
                <p class="warning-text">Not an email</p>
            </ion-item>
            <ion-item>
              <ion-label>Password</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Confirm Password</ion-label>
                <ion-input type="password" formControlName="confirm_password"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label>Country</ion-label>
                  <ion-select formControlName="country">
                    <ion-option *ngFor="let value of countryService.results" value="{{value.id}}">{{value.country}}</ion-option>
                  </ion-select>
                </ion-item>
            <button ion-button block color="black" class="margin-top-10">Sign Up</button>
          </form>
        </ion-content>