register{
    .profile-pic-outer{
        text-align:center;
    }
    
    .profile-pic-inner{
        margin: auto;
    }

    .form-top-margin{
        margin-top: 50px;
    }

    .margin-top-10{
        margin-top: 20px;
    }

    .sign-up-button{
        background-color: black !important;
    }

    .warning
    {
    .item-inner {
        border-bottom: 0px !important;
    }
    
    }

    .warning-text{
        color: red;
    }
}