 <ion-card class="content">
  <ion-card-header class="card-header">
          {{title}}
        </ion-card-header>
        <ion-card-content (tap)="tapEvent($event)">
    <div class="course-image">
  <img src="{{imgSrc}}" class="img-center"/>
</div>
</ion-card-content>
<div class="footer" *ngIf="!isFollowing">
        <button ion-button full class="follow-button" color="secondary">Follow</button>
</div>
<div class="footer" *ngIf="isFollowing">
    <button ion-button full class="follow-button" color="danger">Unfollow</button>
</div>
</ion-card>