<ion-card class="content">
    <ion-card-header class="card-header">
            {{title}}
          </ion-card-header>
          <ion-card-content (tap)="tapEvent($event)" class="percentage-content">
    <p class="percentage-text">{{percentage}}</p>
  </ion-card-content>
  <div class="footer" *ngIf="!completed">
          <button ion-button full class="follow-button" color="secondary">Continue</button>
  </div>
  <div class="footer" *ngIf="completed">
      <button ion-button full class="follow-button" color="secondary" disabled>Completed</button>
  </div>
  </ion-card>