profile-course-card {
    .footer{
        width: 100%;
        height: 50px;
        display: block;
        overflow: hidden;
        position: absolute;
        bottom: 0;
    }

    .content{
        position: relative;
        min-height: 200px;
    }

    .card-header{
        background-color: lightblue;
    }

    .follow-button{
        margin: 1.4rem 0rem;
    }

    .course-image{
        display: flex;
        justify-content: center;
    }

    .img-center{
        margin-top: 8px;
       height: 100px;
       width: 100px;
    }

    .percentage-content{
        text-align: center;
        vertical-align: middle;
        line-height: 90px;
      
    }

    .percentage-text{
        font-size: 36px;
    }
}
