page-profile{

    .width-100{
        width: 100%;
    }
    
    .profile-pic-outer{
        text-align:center;
    }
    
    .profile-pic-inner{
        margin: auto;
    }
    .complete-percentage{
        text-align: center;
        font-size: 42px;
        margin-top: 20px;
    }
    .card-header{
        background-color: lightblue;
    }
    .profile-pic{
        border: 1px solid;
        border-radius: 100%;
        border-color: lightblue;
        width: 100px;
        height: 100px;
        margin: auto;
    }

    .profile-description{
        margin-top: 5px;
        margin-bottom: 50px;
        text-align: center;
    }

    .profile-name{
        text-align: center;
        font-size: 32px;
    }
    .email-address{
        font-size: 22px;
        color: gray;
        margin-top: -20px;
    }

    .total-points{
        font-size: 18px;
        font-weight: bold;
    }

    .course-entire-header{
        font-size: 16px;
    }

    .course-button-outer{
        text-align: center;
    }

    .course-button{
        margin: auto;
    }
}