    <ion-content padding>
      <ion-grid> 
          <div class="profile-pic-outer">
            <img src="../../../assets/imgs/profile-pic.jpg" class="profile-pic"> 
          </div>
        <div class="profile-description">
          <p class="profile-name">
            John Doe
          </p>
          <p class="email-address">
            john@doe.com
          </p>
          <p class="total-points">
            Total points: 8000
          </p>
      </div>
      </ion-grid>
        <ion-grid>
          <ion-row class="course-entire-header">
            Courses
          </ion-row>
            <ion-row>
              <ion-col col-6>
                  <profile-course-card percentage="20" course="English"></profile-course-card>
              </ion-col>
              <ion-col col-6>
                 
              </ion-col>
            </ion-row>
          </ion-grid>
  </ion-content>
  