<ion-header>
        <ion-navbar>
          <ion-title>
           {{topic}}
          </ion-title>
        </ion-navbar>
      </ion-header>
      
      <ion-content padding>
          <div class="course-description">
              {{courseDescription}}
          </div>
          <div class="course-lecturers">
              <ion-row class="lecturer-section">
                  <p style="font-weight: bold">Lecturers:  </p>
                  <div class="lecturer-images-whole"> 
                  <div class="lecturer-image">
                  <img src="../../../assets/imgs/profile-pic.jpg" class="lecturer-pic">
                  </div>
                  <div class="lecturer-image">
                        <img src="../../../assets/imgs/profile-pic.jpg" class="lecturer-pic">
                        </div>
                        
                </div>
              </ion-row>
          </div>
          <div class="course-lessons">
              <ion-row class="lesson-intro">
                  Lessons:
              </ion-row>
              <ion-row>
                    <ion-col col-6>
                <lesson-card imgSrc="../../../assets/imgs/english.png" course="Lesson One"></lesson-card>
                    </ion-col>
                    <ion-col col-6>
                <lesson-card imgSrc="../../../assets/imgs/english.png" course="Lesson Two"></lesson-card>
                    </ion-col>
                    <ion-col col-6></ion-col>
            </ion-row>
          </div>
      </ion-content>
      