single-course{
    .course-description{
        text-align: center;
        overflow-wrap: break-word;
    }

    .lecturer-pic{
        border: 1px solid;
        border-radius: 100%;
        border-color: lightblue;
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }

    .lecturer-section{
        margin: 10px;
    }

    .course-lecturers{
        margin: 20px;
    }

    .lecturer-images-whole{
        margin-left: 10px;
    }

    .lecturer-images-whole{
        display: flex;
    }

    .course-lessons{
        margin-top: 20px;
    }
}