<ion-content padding>
  <div id="heading">
      <div class="glowing" id="glow"></div> 
    <h2 class="main-topic">Live Classroom</h2>
  </div>
  <ion-row>
    <ion-col col-md-6 col-sm-11>
  <div>
    <h6>Rate this lecturer:</h6>
  <rating [(ngModel)]="rate" 
  readOnly="false" 
  max="5" 
  emptyStarIconName="star-outline" 
  halfStarIconName="star-half" 
  starIconName="star" 
  nullable="false" 
  (ngModelChange)="onModelChange($event)">
</rating>
</div>
</ion-col>
<ion-col col-md-6 col-sm-1>
    <button ion-button full class="follow-button" color="secondary">+Follow</button>
</ion-col>
</ion-row>
<div class="discussion-section">
    <ion-card>
        <ion-card-header class="card-header">
          Discussion
        </ion-card-header>
        <ion-card-content>
          
        </ion-card-content>
      </ion-card>
</div>
</ion-content>
