page-home {

    .glowing {
        background-color: #f44245;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        box-shadow: 0 0 0 8px #f44245, inset 0 0 8px #d32828;
        animation: blink-animation 1s steps(5, start) infinite;
        -webkit-animation: blink-animation 1s steps(5, start) infinite;
        margin-right: 10px;
        display: inline-block;
    }

    @keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }
      @-webkit-keyframes blink-animation {
        to {
          visibility: hidden;
        }
    }

    .main-topic{
      display: inline-block !important;
      vertical-align: sub !important;
    }

    ul {
      padding: 0px;
    
      &.rating li {
        padding: 0px 0px !important;
        background: none;
        color: #ffb400;
    
        ion-icon {
          font-size: 30px;
        }
      }
    }

    .follow-button{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .card-header{
      background-color: lightblue;
  }

  .discussion-section{
    .card-content{
      height: 200px !important;
    }
  }
}
