lesson-card {
 
    .content{
        position: relative;
        min-height: 200px;
    }

    .card-header{
        background-color: lightblue;
    }

    .follow-button{
        margin: 1.4rem 0rem;
    }

    .course-image{
        display: flex;
        justify-content: center;
    }

    .img-center{
        margin-top: 24px;
       height: 100px;
       width: 100px;
    }

    .lesson-intro{
        margin-bottom: 10px;
    }
}
