<ion-card class="content">
        <ion-card-header class="card-header">
                {{title}}
              </ion-card-header>
              <ion-card-content (tap)="tapEvent($event)">
          <div class="course-image">
        <img src="{{imgSrc}}" class="img-center"/>
      </div>
      </ion-card-content>
      </ion-card>