<ion-header>
    <ion-navbar>
    <ion-title>
        Courses
    </ion-title>
    </ion-navbar>
    <ion-toolbar>
    <!-- Segment buttons with text -->
    <ion-segment [(ngModel)]="courseType" color="primary" (ionChange)="updateCourseData($event)">
        <ion-segment-button value="myCourses">
            My Courses
        </ion-segment-button>
        <ion-segment-button value="allCourses">
            All
        </ion-segment-button>
    </ion-segment>
</ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <div id="content" *ngIf="isAll">
            <ion-row>
                <ion-col col-6>
                                <course-card imgSrc="../../../assets/imgs/english.png" course="English" [isFollowing]="false"></course-card>
                </ion-col>
                <ion-col col-6>
                            <course-card imgSrc="../../../assets/imgs/french.png" course="French" [isFollowing]="false"></course-card>
                </ion-col>
            </ion-row>
        </div>
        <div id="content" *ngIf="!isAll">
                <ion-row>
                    <ion-col col-6>
                                    <course-card imgSrc="../../../assets/imgs/german.png" course="German" [isFollowing]="true"></course-card>
                    </ion-col>
                </ion-row>
            </div>
    </ion-grid>
</ion-content>